.contact {
    display: flex;
    flex-direction: column;
}

.headshot {
    margin: 16px;
    height: 300px;
    width: auto;
    border-radius: 5px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.headshot img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.information {
    margin: 16px;
    padding: 6px;
    border-radius: 5px;
    border: 5px solid black;
}

.user__information {
    background-image: url(../images/img4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: burlywood;
    width: 90%;
}

@media screen and (min-width: 1025px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .headshot {
        width: 35%;
        min-height: 360px;
    }

    .information {
        width: 35%;
        font-size: 20px;
        min-height: 360px;
    }
}