.user__information {
    background-image: url(../images/img6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: burlywood;
    width: 90%;
}